<%= form_with model: @post, html: { class: "my-4", "up-target": "body" } do |form| %>
  <div class="form-group">
    <%= form.text_area :body,
      placeholder: "Enter your message",
      class: "form-control #{'is-invalid' if @post.errors[:body].any?}",
      rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
